[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.5.3
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = v4.8.2
[submodule "lib/tokenized-strategy"]
	path = lib/tokenized-strategy
	url = https://github.com/yearn/tokenized-strategy
	branch = v3.0.1
[submodule "lib/tokenized-strategy-periphery"]
	path = lib/tokenized-strategy-periphery
	url = https://github.com/yearn/tokenized-strategy-periphery
	branch = master