[submodule "lib/tokenized-strategy"]
	path = lib/tokenized-strategy
	url = https://github.com/yearn/tokenized-strategy
	branch = v3.0.0
[submodule "lib/tokenized-strategy-periphery"]
	path = lib/tokenized-strategy-periphery
	url = https://github.com/yearn/tokenized-strategy-periphery
